/* table {
	color: white;
} */

@media screen and (min-width: 769px) {
	body {
		overflow-y: hidden !important;
	}
	.stream-container {
		max-height: initial;
	}
}
/* .video-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.video-container video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 0;
} */

.stream-container {
	background-position: left;
	background-size: cover;
}
