<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>busMOT Dashboard</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
		<link rel="stylesheet" href={{url_for('static', filename='style.css')}}/>
	</head>
	<body overlow-hidden>
		<nav class="navbar navbar-dark bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src={{url_for('static', filename='busMOT_logo.png')}} alt="" width="200" height="70" class="d-inline-block align-text-top" />				</a>
			</div>
		</nav>
		<div class="container-fluid h-100 overflow-hidden vh-100 p-0">
			<div class="row vh-100">
        <div class="stream-container col-sm-12 col-md-8 p-sm-4 p-md-0 bg-light">
          <img src="{{url_for('video_feed')}}" width="100%"/>
        </div>  
        <div id="table-container" class="col-sm-12 col-md-4 p-sm-4 p-md-0 bg-dark">
        </div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src={{url_for('static', filename='app.js')}}></script>
	</body>
</html>
